body {
  background-color: #e2e0e0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1050px; 
  height: 650px;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
}

.backbox .loginMsg {
  background-color: #9fdeaf;
  width: 100%; 
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  padding: 20px; /* Added padding */
  box-sizing: border-box;
}

.backbox .signupMsg {
  background-color: #f7c060;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  padding: 20px; /* Added padding */
  box-sizing: border-box;
}

.frontbox {
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 55%;
  z-index: 10;
  position: absolute;
  right: 0;
  margin-right: 0;
  margin-left: 0;
  transition: right 0.8s ease-in-out;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.moving {
  right: 45%;
}

.loginMsg, .signupMsg {
  width: 100%;
  height: 100%;
  font-size: 15px;
  box-sizing: border-box;
}

.loginMsg .title,
.signupMsg .title {
  font-weight: 300;
  font-size: 34px;
}

.loginMsg p,
.signupMsg p {
  font-weight: 80;
  white-space: nowrap;
}

.textcontent {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: left;
}

.top-content {
  margin-top: 30%;
  margin-left: 8%;
}

.agrimed-logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 140px; 
  height: auto;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-left: 8%;
  margin-bottom: 20%;
}

.loginMsg button {
  background-color: #9fdeaf;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  box-sizing: content-box;
  font-weight: 300;
  padding: 10px;
  margin-left: 10px;
}

.signupMsg button {
  background-color: #f7c060;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  box-sizing: content-box;
  font-weight: 300;
  padding: 10px;
  margin-left: 10px;
}

.login, .signup {
  padding: 20px;
  text-align: center;
}

.login h2 {
  color: #9fdeaf;
  font-size: 22px;
}

.signup h2 {
  color: #f7c060;
  font-size: 22px;
}

.inputbox {
  margin-top: 30px;
}

.inputbox .text {
  border-radius: 10px;
  overflow: hidden;
}

.login input,
.signup input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 20px;
  font-size: 12px;
}

.login button {
  background-color: #9fdeaf;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-sizing: content-box;
  padding: 15px 30px;
  border-radius: 10px;
  width: 200px;
  margin-top: 40px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup button {
  background-color: #f7c060;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-sizing: content-box;
  padding: 15px 30px;
  border-radius: 10px;
  width: 200px;
  margin-top: 40px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Fade In & Out */
.login p {
  cursor: pointer;
  color: #404040;
  font-size: 15px;
}

.loginMsg, .signupMsg {
  transition: opacity 0.8s ease-in-out;
}

.visibility {
  visibility: visible;
  transition: visibility 0.3s;
}

.hide {
  display: none;
}

.moving {
  transform: translateX(100%);
  transition: transform 0.5s;
}

